body{
	background-color: #343434;
	color: #FFDB58;
}
.portada{
	width: 30%;
	height: 903px;
}
.titulo{
	position: absolute;
	top: 0%;
	left: 32%;
	font-size: 30px;
}
.informacion{
	position: absolute;
	top: 15%;
	left: 32%;
}
.informacion p{
	display: inline-block;
	color: white;
}
.informacion img{
	width: 15%;
	max-height: 50px;
	position: absolute;
	top: 83%;
	left: 58%;
}
.actor img{
	width: 43%;
}
.actor h3{
	color: white;
}
.actores{
	position: absolute;
	top: 66%;
	left: 32%;
	display: flex;
}
.actores h2{
	top: -30%;
	font-size: 30px;
	position: absolute;
}
.trailer{
	position: absolute;
	top: 5%;
	left: 50%;
}
.trailer iframe{
	width: px;
	height: 315px;
}